html
{
  background-color: #0a0d0f;
}
.player-container
{
  display: block;
  margin: 0 auto;
  text-align: center;
}
#player
{
  max-width: 1280px;
  max-height: 720px;
  width: 100%;
  height: calc(100vw * 0.5625);
}
.queue-container
{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  max-width: 1280px;
}
input
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  outline: none;
}
input:focus
{
  outline: solid;
  animation-name: colorchange;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
.queued-videos
{
  
}
.video
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}
h1
{
  color: white;
  font-family: 'Roboto', sans-serif;
}
#youtube-icon
{
  width: 40px;
  vertical-align: bottom;
}
#invite
{
  background-color: #33333300;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  outline: solid;
}
#invite:hover
{
  animation-name: colorchange;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}
@keyframes colorchange
{
  0%   {outline-color: orange;}
  25%  {outline-color: yellow;}
  50%  {outline-color: greenyellow;}
  75%  {outline-color: cyan;}
  100%  {outline-color: pink;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {outline-color: orange;}
  25%  {outline-color: yellow;}
  50%  {outline-color: greenyellow;}
  75%  {outline-color: cyan;}
  100%  {outline-color: pink;}
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgb(246, 46, 46); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  border-radius: 15px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}