html
{
  background-color: #0a0d0f;
}
.player-container
{
  display: block;
  margin: 0 auto;
  text-align: center;
}
#player
{
  max-width: 1280px;
  max-height: 720px;
  width: 100%;
  height: auto;
}