html
{
  background-color: #0a0d0f;
  min-height: 100%;
  position: relative;
}
body
{
    margin: 0;
  margin-bottom: 50px;
}
footer
{
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0 auto;
  background-color: #111111;
  padding-top: 1rem;
}
.footer-link
{
  color: white;
  text-decoration: none;
  margin: 2rem;
  text-align: center;
}
.container
{
  display: flex;
  text-align: left;
  flex-wrap: wrap;
}
.player-container
{
  display: block;
  text-align: center;
  width: 70%;
  height: calc(70vw * 0.5625);
}
.status
{
  width: 10%;
  margin: 0;
  padding: 0;
  margin: 0.5rem;
  position: relative;
}
#player
{
  /* max-height: 768px; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin: 0.5rem;
  margin: 0;
}
#no-video
{
  display: inline;
  vertical-align: middle;
  color: grey;
  user-select: none;
}
.queue-container
{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
  width: 30%;
  max-width: 450px;
  /* max-width: 1280px; */
  /* margin-right: 0.5rem; */
}
.queue-title {
  cursor: pointer;
}
input
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  outline: none;
  height: 40px;
  margin-left: 0;
}
#room
{
  max-width: 350px;
  display: inline-block;
  vertical-align: middle;
}
input:focus
{
  outline: solid;
  outline-color: rgba(250, 0, 0, 0.75);
  outline-width: 3px;
}
.video
{
  width: calc(100% - 40px);
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(19, 19, 19);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  text-overflow: ellipsis;
  background-color: rgb(12, 12, 12);
  color: white;
  height: 107px;
  margin: 0 auto;
}
.thumbnail
{
  width: 120px;
  height: 67.5px;
  margin-right: 20px;
  vertical-align: middle;
  float: left;
}
.thumbnail:hover
{
  opacity: 0.1;
}
.overlay
{
  position: absolute;
  right: 305px;
  width: 120px;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0rem;
  user-select: none;
  z-index: 1;
  height: 47px;
  opacity: 0;
  padding-top: 20px;
}
.overlay:hover
{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9);
}
.mini-button
{
  width: 40px;
  height: 20px;
  background-color: black;
  color: white;
  padding: 0;
  line-height: 20px;
  margin-right: 0.5rem;
  margin-top: 0.4rem;
  float: left;
}
#queue-info
{
  font-size: 1.25rem;
  text-align: center;
  height: 50px;
}
.video-current
{
    /* background-color: rgb(68, 68, 68); */
}
.mini-button:hover, .mini-button:focus
{
  outline: none;
  user-select: none;
  cursor: pointer;
}
.channel-name
{
  font-style: italic;
  opacity: 0.75;
}
.del-video
{
  margin-left: 2px;
  width: 38px;
  height: 107px;
  background-color: white;
  border-radius: 4px;
  user-select: none;
}
.del-video:hover
{
  background-color: rgb(250, 0, 0);
}
.video-div
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1
{
  color: white;
  font-family: 'Roboto', sans-serif;
}
.nav-bar
{
  margin-left: 2.5rem;
  width: 90%;
  width: calc(100% - 16px - 2rem);
  max-width: 1200px;
}
#title
{
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4rem;
  user-select: none;
  opacity: 0.9;
}
#title:hover
{
  opacity: 1;
  cursor: pointer;
}
#youtube-icon
{
  width: 40px;
  vertical-align: bottom;
}
#youtube-icon-larger
{
  width: 70px;
  vertical-align: bottom;
}
#invite
{
  background-color: #33333300;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  outline: solid;
}
#invite:hover, .route:hover
{
  animation-name: colorchange;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

.video-title {
    color: rgb(0, 0, 0);
    float: right;
    font-family: 'Roboto', sans-serif;
}

#watching {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.route-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.route {
    background-color: #33333300;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    outline: solid;
    margin: 1rem;
    width: 300px;
}

form {
    display: inline-block;
    width: 20%;
}

@keyframes colorchange {
    0% {
        outline-color: orange;
    }
    25% {
        outline-color: yellow;
    }
    50% {
        outline-color: greenyellow;
    }
    75% {
        outline-color: cyan;
    }
    100% {
        outline-color: pink;
    }
}

@-webkit-keyframes colorchange

    {
    0% {
        outline-color: orange;
    }
    25% {
        outline-color: yellow;
    }
    50% {
        outline-color: greenyellow;
    }
    75% {
        outline-color: cyan;
    }
    100% {
        outline-color: pink;
    }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: rgb(250, 0, 0);
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    left: 2.5%;
    bottom: 30px;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}


#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@media (max-width: 1560px) {
  /* #title-fraction
  {
    display: none;
  }
  #room
  {
    width: 200%;
  }
  #no-video
  {
    font-size: 1.5rem;
  }
  #player
  {
    width: 100%;
  }
  .player-container
  {
    width: calc(100vw - 16px);
  }
  .status
  {
    bottom: 120px;
  } */
}