html
{
  background-color: #0a0d0f;
  min-height: 100%;
  position: relative;
}
body
{
    margin: 0;
  margin-bottom: 50px;
}
footer
{
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0 auto;
  background-color: #111111;
  padding-top: 1rem;
}
.footer-link
{
  color: white;
  text-decoration: none;
  margin: 2rem;
  text-align: center;
}
.container
{
  display: flex;
  text-align: left;
  /* flex-wrap: wrap; */
}
.player-container
{
  display: block;
  text-align: center;
  width: 70%;
  max-width: 1280px;
  height: calc(70vw * 0.5625);
  max-height: 720px;
}
.status
{
  width: 10%;
  margin: 0;
  padding: 0;
  margin: 0.5rem;
  position: relative;
}
#player
{
  /* max-height: 768px; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin: 0.5rem;
  margin: 0;
}
#no-video
{
  display: inline;
  vertical-align: middle;
  color: grey;
  user-select: none;
}
.queue-container
{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 0;
  width: 30%;
  max-width: 500px;
  /* max-width: 1280px; */
  /* margin-right: 0.5rem; */
  padding-left: 1rem;
  padding-right: 1rem;
}

input
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  outline: none;
  height: 40px;
  margin-left: 0;
}
input:hover:not(:focus)
{
  transition: 0.1s;
  opacity: 0.9;
}
input:focus
{
  box-shadow: 0px 0px 0px 3px rgb(250, 0, 0);
  outline-width: 3px;
}
#room
{
  max-width: 350px;
  display: inline-block;
  vertical-align: middle;
}
#queue 
{
    width: 100%;
}
.video
{
    position: relative;
  padding: 12px 20px;
  /* outline: 4px solid rgb(19, 19, 19); */
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  text-overflow: ellipsis;
  background-color: #252525;
  color: white;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  /* -webkit-box-shadow: 4px 4px 14px 0px rgb(64 24 24 / 72%);
    -moz-box-shadow: 4px 4px 14px 0px rgb(64 24 24 / 72%);
    box-shadow: 4px 4px 14px 0px rgb(64 24 24 / 72%); */
}
img
{
  -webkit-user-drag: none;
}
.video-thumbnail-container
{
    position: relative;
    width: 120px;
    height: calc(120px * 0.5625);
    margin-right: 15px;
    cursor: pointer;
}
.thumbnail
{
    width: 100%;
    height: 100%;
}

.overlay
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    user-select: none;
}
.video-text-container {
    width: calc(100% - 180px);
    height: 100%;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.queue-title {
    cursor: pointer;
    height: 40px;
  }
.overlay:hover
{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.75);
}
.video-button-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 10px);
}
.video-button-container.small
{
    display: none;
    flex-direction: row;
    width: 100px;
    height: 25px;
}
.mini-button
{
  width: 40px;
  height: 25px;
  background-color:#d00000;
  color: white;
  padding: 0;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  line-height: 18px;
  user-select: none;
}
#progress-bar {
    width: calc(100% - 32px);
    height: 10px;

    background-color: #ddd;
    position: absolute;

    margin: 0 auto;
    padding: 0;
    border-radius: 4px;
    
    right: 0;
    left: 16px;
    right: 16px;
    bottom: 4px;
  }
  
  #progress {
    width: 0%;
    height: 10px;
    background-color: #af4c4c;
    border-radius: 4px;
  }
  
#queue-info
{
  font-size: 1.25rem;
  text-align: center;
  height: 50px;
}
.mini-button:hover, .mini-button:focus
{
  outline: none;
  user-select: none;
  cursor: pointer;
}
.channel-name
{
  font-style: italic;
  opacity: 0.75;
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 20px;
    max-width: 200px;
}
.del-video
{
  margin-left: 2px;
  width: 38px;
  height: 107px;
  background-color: white;
  border-radius: 4px;
  user-select: none;
}
.del-video:hover
{
  background-color: rgb(250, 0, 0);
}
h1
{
  color: white;
  font-family: 'Roboto', sans-serif;
}
.nav-bar
{
  margin-left: 2.5rem;
  width: 90%;
  width: calc(100% - 16px - 2rem);
  max-width: 1200px;
}
#title
{
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4rem;
  user-select: none;
  opacity: 0.9;
}
#title:hover
{
  opacity: 1;
  cursor: pointer;
}
#youtube-icon
{
  width: 40px;
  vertical-align: bottom;
}
#youtube-icon-larger
{
  width: 70px;
  vertical-align: bottom;
}
#invite
{
  background-color: #33333300;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  outline: solid;
}
#invite:hover, .route:hover
{
  transition: 0.1s;
  outline-color: rgb(250, 0, 0);
}

.video-title {
    color: rgb(0, 0, 0);
    float: right;
    font-family: 'Roboto', sans-serif;
}

#watching {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.route-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.route {
    background-color: #33333300;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    outline: solid;
    margin: 1rem;
    width: 300px;
}

form {
    display: inline-block;
    width: 20%;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: rgb(250, 0, 0);
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    left: 2.5%;
    bottom: 30px;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden
  }

@media (max-width: 1200px) {
    .thumbnail {
        width: 100px;
        height: calc(100px * 0.5625);
    }

    .video-thumbnail-container
    {
      width: 100px;
      height: calc(100px * 0.5625);
    }

    .video-text-container {
        width: 100%;
        height: calc(100% - 10px);
    }

    .video-button-container {
        display: none;
    }

    .video-button-container.small {
        display: flex;
        flex-direction: row;
    }

    .video {
        height: 125px;
    }
}

@media (max-width: 1000px) {
    #queue 
    {
        width: 100%;
    }
    .container
    {
        flex-wrap: wrap;
    }
    .queue-container
    {
        margin-top: 8px;
    }

  #title-fraction
  {
    display: none;
  }
  #room
  {
    width: 200%;
  }
  #no-video
  {
    font-size: 1.5rem;
  }
  #player
  {
    width: 100%;
  }
  .player-container
  {
    width: 100%;
    height: calc(100vw * 0.5625);
  }
  .status
  {
    bottom: 120px;
  }
  .queue-container
  {
      margin-left: 0;
      width: 100%;
      max-width: unset;
  }
  .queue-container > h1
  {
      margin-top: 0px;
  }

    .video-thumbnail-container {
        width: 100px;
        height: calc(100px * 0.5625);
    }

    .video-text-container {
        width: 100%;
    }

    .video-button-container {
        display: flex;
    }

    .video-button-container.small {
        display: none;
    }

    .video {
        height: 90px;
    }
}


@media (max-width: 450px) {
    .video-thumbnail-container {
        width: 100px;
        height: calc(100px * 0.5625);
    }

    .video-text-container {
        width: 100%;
    }

    .video-button-container {
        display: none;
    }

    .video-button-container.small {
        display: flex;
    }

    .video {
        height: 115px;
    }
}